/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,500;1,400&display=swap');


* > * {
    font-family: "Plus Jakarta Sans", sans-serif;
}
:root {
    --c-brand: #fac562ac;
    --c-dark: #333333;
    --c-body: #666;
    --c-light: #fac56232;
    --c-about: transparent;
    --f-base: "Plus Jakarta Sans", sans-serif;
    --n-height: 100px;

    --color-dark: #fac562a3;
    --color-secodary-dark: #b1b0b09f;
    --color-primary: #ecc442ae;
    --color-text: #0000007e;
    --color-light: #ffffffb5;
}

*,*::after, *::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    color: var(--c-body);
    font-family: var(--f-base);
    line-height: 1.8;
    font-weight: 400;
}

h1,h2,h3,h4,h5,h6 {
    color: var(--c-dark);
    line-height: 1.2;
    margin-bottom: 10px;
    font-weight: 400;
}

.heading-xl {
    font-size: clamp(44px, 10vw, 100px);
    text-transform: uppercase;
}

.heading-1 {
    font-size: clamp(32px, 6vw, 54px);
}

.heading-2 {
    font-size: clamp(28px, 4vw, 36px);
}

.heading-3 {
    font-size: 20px;
}


a {
    color: var(--c-dark);
    text-decoration: none;
    transition: all 0.4s ease-in-out;
}

a:hover {
    color: var(--c-brand);
}

img {
    max-width: 100%;
    width: 100%;
    height: auto;
}

ul {
    list-style: none;
}

section {
    padding: 95px 0;
}

.container {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    padding-left: 24px;
    padding-right: 24px;
}

.btn {
    display: inline-block;
    background-color: transparent;
    border: 1px solid var(--c-brand);
    font-family: var(--f-base);
    padding: 16px 34px;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
    font-size: 14px;
}

.btn:hover {
    background-color: var(--c-brand);
    color: white;
}

/* Navbar */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--n-height);
    display: flex;
    z-index: 999;
}

.navbar .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.brand {
    color: rgb(255, 255, 255);
    font-size: 21px;
    padding: 10px 30px;
    border-radius: 42px;
    background: #c8c8c843;
    
}

.nav-links {
    display: flex;
}

.nav-links li:not(:last-child) {
    margin-right: 44px;
}

.nav-links li.active a {
    box-shadow: 0 2px var(--c-brand);
}

.nav-links li a {
    color: white;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.nav-links li a:hover {
    color: var(--c-brand);
}

.hamburger {
    display: block;
    cursor: pointer;
    display: none;
}

.hamburger span {
    display: block;
    width: 24px;
    height: 2px;
    background-color: white;
    margin: 8px auto;
    padding: 1px;
    transition: all 0.4s ease;
}

.hamburger.active span:nth-child(1) {
    transform: translateY(5px) rotate(45deg);
}

.hamburger.active span:nth-child(2) {
    transform: translateY(-5px) rotate(-45deg);
}

.scrolled {
    background-color: white;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
}

.scrolled .brand {
    color: var(--c-dark);
}

.scrolled .nav-links li a {
    color: var(--c-dark);
}

.scrolled .nav-links li a:hover {
    color: var(--c-brand);
}

.scrolled .hamburger span {
    background-color: var(--c-dark);
}

@media (max-width: 768px) {
    .nav-links {
        position: fixed;
        top: var(--n-height);
        left: 0;
        width: 100%;
        flex-direction: column;
        padding: 0 24px;
        transition: all 0.3s ease-in-out;
        height: 0;
        overflow: hidden;
        background-color: white;
        justify-content: center;
    }
    .brand{
        font-size: 15px;
        padding: 10px 25px;
        justify-content: space-between;
    }

    .nav-links li a {
        
        color: var(--c-dark);
    }

    .nav-links.active {
        height: 300px;
    }

    .nav-links li {
        padding: 6px 0;
    }

    .hamburger {
        display: block;
    }
}




/* Hero */
#hero {
    min-height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(hero-1.jpg);
    background-position: center;
    background-size: cover;
    display: grid;
    place-content: center;
    text-align: center;
}

#hero h1 {
    color: white;
    position: relative;
    
}
#hero .ad {
    
    display: grid;
    place-content: center;
    font-size: clamp(10px, 1.5vw, 17px);
    color: white;
    /* border: 2px solid rgba(255,255,255, 0.2); */
    
    position: absolute;
    bottom: 120px;
     left: 50px;
     right: 50px;

}


.apply-button {
    display: inline-block;
    padding: 5px 20px; /* Adjust padding as needed */
    border: 2px solid var(--color-dark); /* Border styles */
    border-radius: 10px; /* Rounded corners */
    text-decoration: none;
    color: var(--color-light); /* Button text color */
    transition: background-color 0.3s, color 0.3s; /* Add a smooth transition effect */
}

.apply-button:hover {
    background-color: var(--c-brand); /* Background color on hover */
    color: white; /* Text color on hover */
}
@media (max-width: 600px) {

    .ad{
        
        align-self: auto;
        text-align: center;
        width: auto;
    }
}

@keyframes scrolltodown {
    0% {
        transform: translateY(30%);
        opacity: 0;
    }

    50% {
        transform: translateY(-30%);
        opacity: 1;
    }

    100% {
        transform: translateY(60%);
        opacity: 0;
    }
}

.scroll-to-down {
    width: 30px;
    height: 60px;
    margin-left: -15px;
    display: grid;
    place-content: center;
    font-size: 24px;
    color: white;
    border: 2px solid rgba(255,255,255, 0.2);
    border-radius: 100px;
    position: absolute;
    bottom: 30px;
    left: 50%;
}

.scroll-to-down .las {
    animation: scrolltodown 2s ease infinite;
}

/* Section title */
.section-intro {
    margin-bottom: 50px;
}

/* Grid*/
.grid {
    display: grid;
    gap: 50px;
}

.two-col-grid {
    grid-template-columns: repeat(2, 1fr);
}

.three-col-grid {
    grid-template-columns: repeat(3, 1fr);
}

@media (max-width: 768px) {

    .grid {
        gap: 24px;
    }

    .two-col-grid {
        grid-template-columns: repeat(1, 1fr);
    }
    
    .three-col-grid {
        grid-template-columns: repeat(1, 1fr);
    }
    
}



#Aim .container{
    position:relative;
    /* background: url('photos/hnd2.png') no-repeat center center fixed; */
    background: url('hnd2.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    
    background-size:auto;
    overflow:hidden;
    
    padding-bottom: 0px;
}
#Aim .content1{
    position: relative;
    
    
}

#Aim .content1 .p1{
    position: relative;
}

@media (max-width: 100px) {
    #Aim .container {
        background-attachment: fixed;
    }
}

@media (min-width: 768px) {
    #Aim .container {
        background-attachment: fixed;
    }

}




/* Service */
#services .grid {
    gap: 0;
}
.service:nth-child(odd) {
    background-color: var(--c-light);
}

.service {
    border-radius: 42px;
    padding: 44px;
}

.service p {
    font-size: 14px;
}

.service .icon {
    font-size: 38px;
    color: var(--c-brand);
}








/* Project */
.project {
    position: relative;
    overflow: hidden;
}

.project img {
    height: 100%;
    object-fit: cover;
    border-radius: 25px;
    transition: all 0.4s ease-in-out;
}

.project .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 50%;
    width: 50%;
    background-color: transparent;
    padding: 44px;
    display: flex;
    align-items: center;
    transition: all 0.4s ease-in-out;
    border-radius: 35px;
    opacity: 0;
    
    color: rgb(18, 17, 17);
    
}

.project .overlay h2 {
    color: rgb(18, 17, 17);
}
.project .overl {
    text-align: center;
}



.project .overl a h2{
    color: var(--c-dark);
}

.project .overl a:hover h2{
    color: var(--c-brand);
    transition: all 0.4s ease;
}

.project .overlay p {
    color: rgba(255,255,255, 0.6);
}
.project:hover .overlay{
    opacity: 1;
    display: flex;
}

.project:hover img {
    transform: rotate(1deg) scale(1.05);
    border-radius: 35px;
}
.project:active .overlay{
    opacity: 1;
    display: flex;
}

.project:active img {
    transform: rotate(1deg) scale(1.05);
    border-radius: 35px;
}

/* Blog */
#blog {
    background-color: var(--c-about);
}





#blog .container{
    position: relative;
    
    /* background: url('photos/bkt152.png') no-repeat center center fixed; */

    background: url('bkt152.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size:auto;
    overflow:hidden;
    
    padding-top: 1.5%;
    padding-bottom: 0%;
}

@media (max-width: 100px) {
    #blog .container {
        background-attachment: fixed;
    }
}

@media (min-width: 768px) {
    #blog .container {
        background-attachment: fixed;
    }

}


.blog-post h3 {
    margin-top: 16px;
}


/* reviews--------------------------- */

.container1{
    height: 98vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: baseline;
    text-align: center;
}
.h2text{
    color: #0d0d0d;
}

.name{
    color: #000000;
}
.board{
    align-items: center;
    width: 100%;
    background-color: var(--color-dark);
    text-align: center;
    border-radius: 42px;
    padding: 2em 0;
}


.text-light{
    color: var(--color-light);
}


.swiper {
    
    width: auto;
    height: auto;
  }

.swiper .swiper-slide .flex{
    
    margin: 3em 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.swiper .swiper-slide .comments{
    background-color: var(--color-light);
    padding: 1em 1em;
    width: 80%;
    border-radius: 40px;
    font-size: clamp(12px, 1.5vw, 15px);
    /* font-size: 16px; */
    position: relative;
}

.swiper .swiper-slide .comments::after{
    
    content: '';
    position: absolute;
    bottom: -19px;
    left: 45%;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid var(--color-light);
    z-index: -99;
}
.comments{
    color: #1e1e1e;
    font-size: 20px;
}

.swiper .profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1em;
    
}

.swiper .profile img{
    width: 45%;
    border-radius: 50%;
    border: 5px solid var(--color-primary);
    margin: 10px 0;
}

.swiper .profile > {
    text-decoration: none;
    color: var(--color-light);
}

.swiper .profile > span{
    color: var(--color-text);
    font-size: .8em;
}

.swiper .swiper-button-prev, .swiper-button-next{
    color: var(--color-text);
    display: none;
} 

@media (max-width: 100px) {
    .board{
        align-self: auto;
        text-align: center;
        width: auto;
    }

    .swiper {
        align-self: auto;
        align-content: center;
        width: 100%;
      }

      .board > h1, p{
        
          padding: 0 2em;
      }
}

@media (min-width: 768px) {
    .board{
        width: 100%;
    }

    .swiper {
        width: 600px;
      }

    .swiper .swiper-button-prev, .swiper-button-next{
        display: initial;
    }

}




.content1{
    border-radius: 42px;
    font-size: clamp(15px, 1.5vw, 18px);
    align-content: center;
    text-align: center;
    padding: 44px;
    background: var(--c-light) ;
}
.para1{
    
    font-family: var(--f-base);
    /* font-size: 18px; */
    padding: 1px;
}
.para2{
    font-family: var(--f-base);
    /* font-size: 16px; */
    padding: 1px;
}
@media (max-width: 768px) {
    .content1{
        
        align-self: auto;
        width: 100%;
    }
    .para1{
        width: 100%;
    }
    .para2{
        width: 100%;
    }

    
}

@media (min-width: 768px) {
    .content1{
        width: 100%;
    }
    .para1{
        width: 100%;
    }
    .para2{
        width: 100%;
    }

  
}




/* contact */
#contact .grid {
    grid-template-columns: 1fr 2.5fr;
}



@media (max-width: 768px) {
    #contact .grid {
        grid-template-columns: 1fr;
    }
}
.contact-form{
    align-content: center;
}
form {
    width: 100%;
}
.social-icons-contact {
    font-size: 20px;
    

}



.lab {
    padding: 9px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }
  
  .lab:hover {
      opacity: 0.5;
  }
  
  .la-whatsapp {
    background: transparent;
    color: #128C7E;
  }
  .la-facebook {
    background: transparent;
    color: #3b5998;
  }
  .la-linkedin {
    background: transparent;
    color: #0072b1;
  }




.contact-widget {
    margin-bottom: 30px;
}

.form-group {
    margin-bottom: 10px;
}

.form-group .form-input {
    display: block;
    width: 100%;
    padding: 16px 0;
    border-radius: 0;
    border: none;
    font-family: var(--f-base);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.form-group .form-input:focus {
    outline: none;
}

/* Footer */
footer {
    padding: 60px 0;
    background-color: var(--c-dark);
}

footer .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer p,
footer a {
    color: white;
}

footer .social-icons a {
    font-size: 24px;
}

footer .social-icons a:not(:last-child) {
    margin-right: 24px;
}




